<?xml version="1.0"?>
<config>
  <modules>
    <Payhere_Payhere>
      <version>0.1.0</version>
    </Payhere_Payhere>
  </modules>
  <global>
    <models>
      <payhere>
        <class>Payhere_Payhere_Model</class>
      </payhere>
    </models>
    <helpers>
      <payhere>
        <class>Payhere_Payhere_Helper</class>
      </payhere>
    </helpers>
    <blocks>
      <payhere>
        <class>Payhere_Payhere_Block</class>
      </payhere>
    </blocks>
  </global>
  <default>
    <payment>
      <payhere>
        <model>payhere/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>PayHere</title>
        <payment_action>sale</payment_action>
        <sort_order>1</sort_order>
      </payhere>
    </payment>
  </default>
  <frontend>
    <routers>
      <payhere>
        <use>standard</use>
        <args>
          <module>Payhere_Payhere</module>
          <frontName>payhere</frontName>
        </args>
      </payhere>
    </routers>
  </frontend>
</config>
